<div id="post-{{id}}" class="card">
    <img class="card-image" src="{{thumbnail}}" alt="Missing Image"/>
    <div class="card-body">
        <div class="card-title">{{title}}</div>
        <div class="card-description">{{description}}</div>
        <a href="/post/{{id}}" class="card-a">Post Details</a>
    </div>
</div>