<div class="post">
    <div class="title">Title: <em>{{currentPost.title}}</em></div>
    <div>Author: <em>{{currentPost.username}}</em></div>
    <div>Creation Time: <em>{{currentPost.created}}</em></div>
    <div>Description: <em>{{currentPost.description}}</em></div>
    <img src="/{{currentPost.photopath}}" />
</div>